.profileBase {
    width: 200px;
    padding: 20px;
    margin: 10 auto;
    background-color: aquamarine;

    min-width: 230px;
    display: block;
    justify-content: center
    border-ra
}
/* 
.superProfile{
    composses profileBase;
} */
